$transition-time: 0.5s;
$form-padding: 1em;

form {
  padding-left: $form-padding !important;
  padding-right: $form-padding !important;

  .RulesForm-PropertyForm:last-child {
    div:last-child {
      margin-bottom: 1em !important;
    }
  }
}

.RulesForm-FormDeleteable {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  form {
    order: 0;
    width: 100%;
    transition: $transition-time;

    div:last-child {
      margin-bottom: 0em !important;
    }
  }

  .RulesForm-FormDeleteabe-Actions {
    order: 1;
    opacity: 1;
    transition: $transition-time;
  }
}

.RulesForm-ActionsContainer {
  display: flex;
  justify-content: space-between;
}

.RulesForm-HorizontalItems {
  *:not(:last-child) {
    margin-right: 1em;
  }
}
